@use "@src/shared/scss/logic/function";

.sidebar {
  position: relative;

  height: 100dvh;
  width: 100%;

  padding: 32px 0;
  background-color: var(--white);
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;

  pointer-events: none;

  transform: translateX(100%);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.08),
      rgba(0, 0, 0, 0)
  );

  @media (max-width: 960px) {
    display: none;
  }
}

.titleContainer {
  text-align: center;
  margin-bottom: 58px;

  @media (max-width: 1024px) {
    margin-bottom: 38px;
  }
}

.titleContainer h1 {
  font-size: 16px;
  font-weight: 700;
  padding: 0 42px;
}

.menuList {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

